@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,116&display=swap");

:root {
	/* Primary colors  */
	--Orange: hsl(26, 100%, 55%);
	--Pale-orange: hsl(26, 100%, 75%);

	/* Neutral colors  */
	--Very-dark-blue: hsl(220, 13%, 13%);
	--Dark-grayish-blue: hsl(219, 9%, 45%);
	--Grayish-blue: hsl(220, 14%, 75%);
	--Light-grayish-blue: hsl(223, 64%, 98%);
	--White: hsl(0, 0%, 100%);
	--Black: hsl(0, 0%, 0%);
}

body {
	font-family: "Kumbh Sans", sans-serif;
	background-color: white;
	min-height: 100vh;
}
.hidden {
	display: none;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;
	background-color: var(--White);
	position: sticky;
	top: 0;
	z-index: 1010;
}

.nav-left {
	display: flex;
	align-items: center;
}
.nav-left .logo {
	margin-bottom: 4px;
}
.nav-right {
	display: flex;
	align-items: center;
}

.hamburger {
	cursor: pointer;
	padding-right: 20px;
}

#cart {
	cursor: pointer;
	margin-right: 10px;
	margin-bottom: 20px;
}
.notify-quantity {
	font-size: 14px;
	border-radius: 10px;
	background-color: var(--Orange);
	padding: 0 10px;
	position: relative;
	left: 10px;
	top: 10px;
}
/* cart section  */
.cart-container {
	display: none;
	width: 90vw;
	position: absolute;
	z-index: 10;
	top: 110px;
	left: 0;
	right: 0;
	margin: 0 auto;
	border-radius: 10px;
	background-color: white;
	box-shadow: 0px 6px 13px 2px rgba(0, 0, 0, 0.29);
}
.nav-right .cart-icon.active .cart-container {
	display: block;
}

.cart-title {
	font-size: 1.5rem;
	font-weight: 700;
	padding: 20px 40px;
	border-bottom: 2px solid rgba(204, 201, 201, 0.671);
}
.product-list {
	padding: 20px 20px;
}
.product {
	display: flex;
	align-items: center;
	gap: 20px;
}
.product .details {
	font-size: 1.2rem;
	color: var(--Dark-grayish-blue);
	font-weight: 500;
}
.product img {
	max-width: 80px;
	border-radius: 10px;
}
#delete-icon img {
	width: 25px;
	cursor: pointer;
}
.product-list .btn {
	margin-top: 40px;
	text-align: center;
}

.empty-message {
	padding: 80px;
	text-align: center;
}
/* cart section end  */
.profile-pic {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	cursor: pointer;
	display: inline-block;
	margin-left: 20px;
}
.profile-pic:hover {
	border: 2px solid var(--Orange);
}

/* Menu that shows on mobile */
.nav-menu {
	position: fixed;
	top: 0;
	left: -100%;
	width: 70%;
	height: 100%;
	background-color: white;
	padding: 2rem;
	z-index: 1001;
	transition: left 0.3s ease, visibility 0.3s ease; /* Smooth transition */
	visibility: hidden; /* Hidden by default */
	opacity: 0; /* Fully transparent */
}

.nav-menu.active {
	left: 0; /* Move into view */
	visibility: visible; /* Make visible */
	opacity: 1; /* Fully opaque */
}

.nav-links {
	list-style: none;
	padding: 0;
	margin-top: 3rem;
}

.nav-links li {
	margin-bottom: 1.2rem;
}

.nav-links li a {
	text-decoration: none;
	color: black;
	font-weight: 700;
	font-size: 1rem;
}

.close-icon {
	font-size: 2rem;
	cursor: pointer;
	position: absolute;
	top: 2rem;
	left: 2rem;
}

/* Backdrop overlay for 30% */
.overlay {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(2px);
	z-index: 1000;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 0.3s ease, opacity 0.3s ease; /* Delay visibility change */
}

.overlay.active {
	visibility: visible; /* Make visible */
	opacity: 1; /* Fully opaque */
	transition-delay: 0.2s; /* Reset delay */
}

/* product section  */
.slider-container {
	max-width: 600px;
	margin: auto;
	background: white;
	overflow: hidden;
	margin-bottom: 100px;
}

.slider {
	position: relative;
}
.slider .thumbnails {
	display: none;
}

.slider-controls {
	position: absolute;
	top: 50%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	transform: translateY(-50%);
}

.slider-controls button {
	background-color: white;
	margin: 0px 10px;
	padding: 10px 13px;
	border: none;
	border-radius: 50%;
	font-size: 30px;
	color: black;
	cursor: pointer;
}

.description {
	padding: 20px;
}

.company-name {
	color: var(--Dark-grayish-blue);
	font-weight: 700;
	font-size: 0.9rem;
	letter-spacing: 2px;
}

.product-title {
	margin: 10px 0;
	font-weight: 700;
	font-size: 2.5rem;
	line-height: 3rem;
}

.product-description {
	color: var(--Dark-grayish-blue);
	margin-bottom: 20px;
	font-weight: 500;
	font-size: 1.2rem;
}

.pricing {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}

.price {
	color: var(--Very-dark-blue);
	display: flex;
	align-items: center;
}
.current-price {
	font-weight: 700;
	font-size: 2.5rem;
	margin-right: 15px;
}
.offer {
	background: var(--Very-dark-blue);
	color: white;
	padding: 5px 10px;
	border-radius: 10px;
	margin-right: 10px;
}

.previous-price {
	color: var(--Dark-grayish-blue);
	font-weight: 700;
	font-size: 1.3rem;
	text-decoration: line-through;
}

.quantity-control {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
	/* padding: 20px; */
	background-color: var(--Light-grayish-blue);
	border-radius: 10px;
}

.quantity-btn {
	background: none;
	border: none;
	padding: 20px;
	cursor: pointer;
	border-radius: 10px;
}
.quantity-btn:hover {
	background-color: rgba(128, 128, 128, 0.281);
}
.quantity-btn img {
	min-width: 15px;
}

#quantity {
	padding: 0 10px;
	font-weight: 700;
	font-size: 1rem;
	display: inline-block;
	width: 20px;
	margin-right: 15px;
}

.btn {
	background-color: var(--Orange);
	color: var(--Black);
	border: none;
	border-radius: 10px;
	width: 100%;
	padding: 20px 20px;
	cursor: pointer;
	font-weight: 700;
	font-size: 1.3rem;
	white-space: nowrap;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}
.btn:hover {
	background-color: var(--Pale-orange);
}

@media screen and (min-width: 768px) {
	.cart-container {
		/* display: none; */
		width: 60vw;
		top: 70px;
		left: 200px;
	}
}

@media screen and (min-width: 1024px) {
	.navbar {
		max-width: 80%;
		margin: 0 auto;
		border-bottom: 2px solid rgba(204, 201, 201, 0.671);
		padding: 1rem 0;
		position: sticky;
		top: 0;
		z-index: 999;
	}
	.hamburger {
		display: none;
	}
	.close-icon {
		display: none;
	}
	.overlay {
		display: none;
	}
	.nav-right {
		order: 3;
	}

	.nav-menu {
		position: static;
		visibility: visible;
		padding: 0;
		opacity: 1;
	}
	.nav-links {
		display: flex;
		justify-content: flex-start;
		margin: 0;
	}
	.nav-links li {
		margin: 20px 3%;
	}
	.nav-links li a {
		color: var(--Dark-grayish-blue);
		font-weight: 500;
		position: relative;
		padding: 20px 0px;
	}
	.nav-links li a::after {
		content: "";
		position: absolute;
		left: 50%;
		bottom: -20px;
		height: 3px;
		width: 0;
		background-color: var(--Orange);
		transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
		transform: translateX(-50%);
	}
	.nav-links li a:hover::after,
	.nav-links li.active a::after {
		width: 100%;
		left: 50%;
		transform: translateX(-50%);
	}

	.nav-links li a:hover {
		color: var(--grayish-blue);
	}

	.slider-container {
		margin: 4% auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 4%;
		max-width: 80%;
	}
	.slider-container > * {
		flex: 1;
	}

	.pricing {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	.buttons {
		display: flex;
		gap: 20px;
		justify-content: space-between;
	}
	.quantity-control {
		margin: 0;
		flex: 1;
	}
	.add-to-cart {
		flex: 2;
	}
	.slider-controls {
		display: none;
	}
	.slider img:nth-last-of-type(1) {
		border-radius: 10px;
	}
	.slider .thumbnails {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 10px;
		margin-top: 20px;
	}
	.thumbnails img {
		max-width: 80px;
		border-radius: 10px;
		cursor: pointer;
	}
	.thumbnails img:hover,
	.thumbnails img.active {
		border: 3px solid var(--Orange);
	}

	.cart-container {
		width: 400px;
		top: 80px;
		right: 20px;
		left: auto;
		position: absolute;
		margin: 0;
		z-index: 1010;
	}
}

@media screen and (min-width: 1280px) {
	.slider-container {
		max-width: 60%;
	}
	.cart-container {
		width: 450px;
	}
}
